@charset "UTF-8";

html{
 font-family: 'Gugi', cursive;
    font-size: 1.1em;
 }
/* 노말 */
body, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* 라이브러리 */
.inline-grid {
	font-size: 0;
}

.inline-grid>* {
	font-size: 1rem;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.block {
	display: block;
}

.con {
	margin-left: auto;
	margin-right: auto;
}
.con-list {
    margin-left:auto;
    margin-right:auto;
}
/* 커스텀 */
.con {
	max-width: 1440px;
	
}
.con-list{
	max-width: 1440px;
}



.top-bar {
	background-color: #232323;
	color: white;
}

.bottom {
	
	background-color: #232323;
	color: white; 
	left:0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
}

.top-bar>.con>div:first-child {
	width: 600px;
}

.top-bar>.con>div:nth-child(2) {
	width: 240;
}

.top-bar>.con>div:last-child {
	width: 600px;
}

.top-bar__logo {
	font-weight: bold;
	font-size: 1.3rem;
	padding: 20px;
}

.top-bar__menu-box-1>ul>li {
	font-size: 1.05rem;
	position: relative;
}

/* 모든 메뉴 아이템 텍스트 */
.top-bar__menu-box-1 ul>li>a {
	display: block;
	white-space: nowrap;
}

/* 1차 메뉴 아이템 텍스트 */
.top-bar__menu-box-1>ul>li>a {
	padding: 22.5px 30px;
}

/* 서브 메뉴 아이템 텍스트 */
.top-bar__menu-box-1>ul ul>li>a {
	padding: 22.5px 0;
	text-align: center;
}

.top-bar__menu-box-1 ul>li:hover>a {
	background-color: white;
	color: #232323;
}

.top-bar__menu-box-1>ul>li>ul {
	display: none;
	position: absolute;
	background-color: #232323;
	top: 100%;
	left: 0;
	width: 100%;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.top-bar__menu-box-1>ul>li:hover>ul {
	display: block;
}

/* 리스트 */
.img-box {
	margin: 5px;
}

.img-box>img {
	/* 이미지 주변에 쓸떼없이 생기는 여백이 사라진다. 즉 글자로서의 특징이 사라진다. */
	display: block;
	/* 이걸 해줘야 이미지 너비가 유연해집니다. */
	width: 100%;
}

.cell {
	float: left;
	box-sizing: border-box;
	width: 350px;
	height: 500px;
}

/* .row가 float 요소들의 부모이기 때문에 아래와 같이 처리해 주지 않으면 높이가 0이 될 수 있습니다. */
.row::after {
	/* 막내를 추가하고, 참고로 막내는 float 요소가 아닙니다. */
	content: "";
	/* 아래 2개의 속석은 추가된 막내를 형들(float 요소들) 밑에 깔리게 합니다. */
	display: block;
	clear: both;
}

.list1 .cell {
	width: 20%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	cursor: pointer;
}

.list1 .cell:hover>.product-name {
	text-decoration: underline;
}

.list1 .cell>.product-name {
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
}

/* 이렇게 하면 오직 .row 만 너비가 늘어난다. */
.list1 .row {
	margin-left: -10px;
	margin-right: -10px;
}

@media ( max-width :1000px ) {
	.list1 .cell {
		width: 33.3333%;
	}
}

@media ( max-width :850px ) {
	.list1 .cell {
		width: 50%;
	}
}

@media ( max-width :650px ) {
	.list1 .cell {
		width: 100%;
	}
}

@media ( max-width:700px ) {
    .bn-box-1 > .img-box {
        margin-left:-50%;
    }
}

/* 리스트박스1 */
.list-box-1 > ul > li {
    padding:0 10px;
    margin-top:20px;
}

@media ( min-width:801px ) {
    .list-box-1 > ul > li {
        width:20%;
    }
}

@media ( max-width:800px ) and ( min-width:601px ) {
    .list-box-1 > ul > li {
        width:33.3333%;
    }
}

@media ( max-width:600px ) and ( min-width:401px ) {
    .list-box-1 > ul > li {
        width:50%;
    }
}

@media ( max-width:400px ) {
    .list-box-1 > ul > li {
        width:100%;
    }
}

.list-box-1 > ul {
    margin:0 -10px;
}




.copy {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 20px;
}

.detail_box_top{min-height:530px;padding:36px 29px 30px;margin-bottom:10px;border:1px solid #dedede;border-radius:2px;background:#fff;*zoom:1}
.detail_box_top:after{display:block;clear:both;content:''}
.detail_box_top span.num{font-family:Montserrat-R;font-weight:bold;color:#339e00}
.detail_box_top .detail_info{float:left;position:relative;width:675px;min-height:382px;margin-top:30px;padding:0 30px 0 342px;box-sizing:border-box}
.detail_box_top .detail_info .bx_thumb{position:absolute;top:0;left:0}
.detail_box_top .detail_info .bx_thumb .bx_img{display:block}
.detail_box_top .etc_info{padding-top:7px; width: 500px;}
.detail_box_top .etc_info .bx_dummy{position:relative;margin-top:9px}
.detail_box_top .etc_info .bx_dummy:first-child{margin-top:0}
.detail_box_top .etc_info .bx_dummy.border_type{margin-bottom:17px;padding-bottom:13px;border-bottom:1px dotted #9d9d9d}
.detail_box_top .etc_info .bx_dummy.border_type:last-of-type{border:0}
.detail_box_top .etc_info .bx_dummy.include_layer{margin-bottom:17px}
.detail_box_top .etc_info .bx_dummy.border_type.include_layer{padding-bottom:20px}
.detail_box_top .etc_info .info_tit{position:absolute;top:0;left:0;bottom:0;width:68px;font-weight:bold;line-height:22px}
.detail_box_top .etc_info .lst_dsc li + li{margin-top:2px}
.detail_box_top .etc_info .txt{display:block;min-height:20px;padding-left:68px;line-height:22px}
.detail_box_top .etc_info .ly_btn{display:inline-block;min-width:105px;height:28px;margin-top:6px;padding:0 20px 0 7px;border:1px solid #d4d4d4;box-sizing:border-box;font-size:12px;line-height:28px;letter-spacing:-1px}
.etc_info{
   padding-top:7px
   }
.thumnaild img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-bottom: 10px;
   margin: auto;
}


